footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #005827,#0af570);
    padding: 14px;
    
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;

}

.footer-texts{
    display: flex;
    flex-direction: column;
    gap: 10px;

    color: #fff;
    margin-left: 10px;
}

.footer-texts .text_title{
    font-weight: bold;
    font-size: 18px;
}

.footer-texts .text_subtitle{
    font-size: 14px;
}

.subscribe-free{
    background-color: #fff;
    border: none;
    border-radius: 50px;

    padding: 18px 20px;
    margin-right: 14px;

    font-weight: 700;
    font-size: 16px;

    cursor: pointer;
}