/*HEADER*/

.main-container {
    max-width: 80vw;
    height: 100vh;
    margin-left: 315px;
    margin-right: 10px;
    padding-top: 2px;
    position: fixed;
    right: 0;
    left: 0;
}

.header_navigation{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background-color: #121212;
}

.header_navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_navigation .navigation .arrow-left{
    margin-right: 1.25rem;
}

.arrow-right, .arrow-left{
    display:flex;
    align-items: center;
    justify-content: center;

    width:32px;
    height: 32px;

    background: var(--bg-icon);
    background-color: var(--bg-arrow-color);

    border: none;
    border-radius: 50%;

    cursor: pointer;
}

.header_login{
    display: flex;
    align-items: center;
}

.header_search{
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: #242424;
    border-radius: 500px;
    border: 1px solid transparent;
}

.header_search img{
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header_search input{
    background: transparent;
    border: none;
    padding: 0px 100px 0px 12px;
    color: #fff;

    text-overflow: ellipsis; /*valor de texto mt grande daí fica com ...*/
    overflow: hidden; /*trabalha junto com o text-overflow*/
    white-space: nowrap; /*deixa td na mesma linha p não quebrar*/
    outline: none; /*tira borda do input*/
}

.header_login .subscribe {
    color:#a7a7a7;
    font-size: 16px;
    font-weight: 700;
    border: none;
    background-color: transparent;
    margin-right: 32px;
}

.header_login .login {
    width: 100px;
    height: 48px;

    color: #000;
    font-size: 16px;
    font-weight: 700;

    border: none;
    border-radius: 40px;
}

/*PLAYLIST*/

.playlist-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background-color: #121212;
}

.playlist-container .texts{
    color: #fff;
    margin: 28px 0px;
    
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.playlist-container .texts h1{
    font-weight: 700;
    font-size: 2rem;
}

.playlist-container .texts h2{
    font-weight: 600;
    font-size: 22px;
}
